apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: 069380454032.dkr.ecr.us-east-1.amazonaws.com/myapp:latest
          ports:
            - containerPort: 5000
          imagePullPolicy: Always
